* {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card-animal {
  width: 250px;
  height: 350px;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  user-select: none;

  position: relative;
  overflow: hidden;
}
.card-animal .cont-img {
  width: 60%;
  height: 50%;
  /* background-color: aliceblue; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-animal .cont-img img {
  width: 100%;
  filter: drop-shadow(0 0 10px rgb(0, 0, 0));
}
.card-animal button {
  width: 80px;
  height: 30px;
  border: none;
  border-radius: 10px;
  background-color: rgb(222, 183, 27);
  transition: 1s;
  cursor: pointer;
}
.card-animal button a {
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
}
.card-animal button:hover {
  background-color: rgb(182, 150, 22);
}

/* containerVermas */
.containerVermas {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0.805), rgb(255, 255, 255)),
    url(imgs/fondcontVerMas.jpg);
  background-position: center;
  background-size: cover;
  bottom: -100%;
  user-select: none;
}
.containerButtonClear {
  width: 100%;
  height: 40px;
  background: url(imgs/fontContButton.jpg);
  background-position: center;
  background-size: cover;
}
.containerButtonClear .btnclear {
  width: 20%;
  height: 100%;
  border-radius: 0;
  background: rgba(255, 0, 0, 0);
  font-size: 20px;
  font-weight: bold;
  color: rgba(255, 0, 0, 0.817);
  transition: 1s;
}
.containerButtonClear .btnclear:hover {
  background-color: rgba(67, 92, 97, 0.428);
}

.containerVermas p {
  padding: 10px;
}

/* contMostrarVerMas-----> TOOGLE */
.containerVermas-TOOGLE {
  top: 0;
}
